<li class="nav-header">Artifacts</li>

<li item-path="artifacts.document" class="documents"><a href="#">Documents<span class="badge"></span></a></li>
<li item-path="artifacts.image" class="images"><a href="#">Images<span class="badge"></span></a></li>
<li item-path="artifacts.video" class="videos"><a href="#">Videos<span class="badge"></span></a></li>

<li class="nav-header">Entities</li>

<li item-path="entities.person" class="people"><a href="#">People<span class="badge"></span></a></li>
<li item-path="entities.location" class="locations"><a href="#">Locations<span class="badge"></span></a></li>
<li item-path="entities.organization" class="organizations"><a href="#">Organizations<span class="badge"></span></a></li>
