<ul>
    <li>
        <h2>Artifacts</h2>
        <ul class="artifacts">
            <li item-path="artifacts.document" class="documents">Documents <div class="count">Loading...</div></li>
            <li item-path="artifacts.image" class="images">Images <div class="count">Loading...</div></li>
            <li item-path="artifacts.video" class="videos">Videos <div class="count">Loading...</div></li>
        </ul>
    </li>
    <li>
        <h2>Entities</h2>
        <ul class="entities">
            <li item-path="entities.person" class="people">People <div class="count">Loading...</div></li>
            <li item-path="entities.location" class="locations">Locations <div class="count">Loading...</div></li>
            <li item-path="entities.organization" class="organizations">Organizations <div class="count">Loading...</div></li>
        </ul>
    </li>
</ul>
