<% results.forEach(function(result) { %>
<li data-info="<%= JSON.stringify({
      'rowKey': result.rowKey,
      'type': type,
      'subType': subType
    }) %>"><a href="<%= result.url %>"><%= result.title || "No title available" %><div><span class="date"></span><span class="source"></span></div></a>
</li>
<% }); %>
