<li class="nav-header">Artifacts</li>

<li item-path="artifact.document" class="document"><a href="#">Documents<span class="badge"></span></a></li>
<li item-path="artifact.image" class="image"><a href="#">Images<span class="badge"></span></a></li>
<li item-path="artifact.video" class="video"><a href="#">Videos<span class="badge"></span></a></li>

<li class="nav-header">Entities</li>

<li item-path="entity.person" class="person"><a href="#">People<span class="badge"></span></a></li>
<li item-path="entity.location" class="location"><a href="#">Locations<span class="badge"></span></a></li>
<li item-path="entity.organization" class="organization"><a href="#">Organizations<span class="badge"></span></a></li>
