<li class="nav-header">Artifacts</li>

<li item-path="artifact.document" class="document"><a href="#">Documents<span class="badge"></span></a></li>
<li item-path="artifact.image" class="image"><a href="#">Images<span class="badge"></span></a></li>
<li item-path="artifact.video" class="video"><a href="#">Videos<span class="badge"></span></a></li>

<li class="nav-header">Entities</li>

<%- getConceptChildrenHtml(rootConcept, 0) %>

<%
function getConceptChildrenHtml(concept, indent) {
    var html = "";
    concept.children.forEach(function(concept) {
        html += '<li item-path="entity.' + concept.id + '" style="padding-left: ' + indent + 'px;" class="concept-' + concept.id + '"><a href="#">' + concept.title + '<span class="badge"></span></a></li>';
        if(concept.children && concept.children.length > 0) {
            html += getConceptChildrenHtml(concept, indent + 8);
        }
    });
    return html;
}
%>
