<li class="nav-header">Artifacts</li>

<li item-path="artifact.document" class="document"><a href="#">Documents<span class="badge"></span></a></li>
<li item-path="artifact.image" class="image"><a href="#">Images<span class="badge"></span></a></li>
<li item-path="artifact.video" class="video"><a href="#">Videos<span class="badge"></span></a></li>

<li class="nav-header">Entities</li>

<% concepts.children.forEach(function(concept) { %>
<li item-path="entity.<%= concept.title %>" class="<%= concept.title %>"><a href="#"><%= concept.title %><span class="badge"></span></a></li>
<% }); %>
