<div class="multiple">

  <div class="btn-toolbar">
    <%- fullscreenButton %>
  </div>

  <ul class="histograms nav nav-bar">
    <li class="nav-header"><%= vertices.length %> objects selected</li>
    <li class="nav-header histogram">Histograms<span class="badge loading"/></li>
  </ul>
  <div class="vertices-list"></div>
</div>
