<div class="multiple">
  <h1><%= vertices.length %> objects selected</h1>

  <ul>
    <% vertices.forEach(function(vertex) { %>
    <li>
        <span class="<%= getClasses(vertex) %>" data-info='<%- JSON.stringify(vertex) %>'><%- vertex.originalTitle || vertex.title || 'No title available' %></span>
    </li>
    <% }); %>
  </ul>
</div>
