<div class="search-pane">
  <div class="content"></div>
</div>
<div class="users-pane">
  <div class="content"></div>
</div>

<div class="graph-pane">
  <div class="content"></div>
</div>

<div class="detail-pane">
  <div class="content"></div>
</div>

<div class="chat-pane">
  <div class="content"></div>
</div>
