div.classification {
    text-align: center;
    font-weight: bold;
    position: absolute;
    width: 100%;
}

div#classification-header {
    top: 0;
}

div#classification-footer {
    bottom: 0;
}
