@import "../util/constants";

background: #efefef;
width: 340px;

.content {
  display: block;
  max-width: none;
  width: auto;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: visible;
}

.users-list {
  float: left;
  overflow: auto;
  height: 100%;

  .badge {
    float: right;
    margin-left: 5px;
  }
}

.active-chat {
  @import "chat/chat";
}
