@import "../util/lists.less";
@import "../util/positioning.less";

@background-color: #f9f9f9;

width: 225px;
background: @background-color;

.navbar-search { 
  text-align: center;
  width: 100%; 
}

.search-query {
  width: 75%;
  margin-bottom: 0.5em;
}

.badge { 
  float:right; 
}

.search-results-summary {
}

.search-results {
  .pin-left-split;

  z-index: 1;
  word-wrap: break-word;
  width: 200px;
  background: @background-color; 
  text-align: right;

  ul {
    overflow: auto;
    text-align: left;
    height: 100%;
  }

  button.close {
    float: none;
    margin-right: 10px;
  }
}
