<div class="form">
  <div class="text src-term"><%= source %></div>
  <input 
    placeholder="Statement Label..." 
    type="text" 
    value=""></input>
  <div class="text dest-term"><%= dest %></div>

  <div class="buttons">
    <button class="create-statement btn btn-small btn-primary">Create Statement</button>
  </div>
</div>
