<ul class="menu-top">
  <li class="search"><a>Search</a></li>
</ul>

<ul class="menu-bottom">

  <li class="users"><a>People</a></li>

  <li class="divider"></li>

  <li class="activity"><a>Activity</a></li>

</ul>

