<ul class="menu-top">
  <li class="search"><a href="#">Search</a></li>
</ul>

<ul class="menu-bottom">
  <li class="activity"><a href="#">Activity</a></li>

  <li class="divider"></li>

  <li class="users"><a href="#">People</a></li>
  <li class="metrics"><a href="#">Metrics</a></li>
  <li class="prefs"><a href="#">Preferences</a></li>
</ul>

