<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <context-param>
        <param-name>map.provider</param-name>
        <!--<param-value>googlev3</param-value>-->
        <param-value>leaflet</param-value>
    </context-param>
    <context-param>
        <param-name>map.apiKey</param-name>
        <param-value>AIzaSyCauz3KEz7k8zxOjPW4plTuVQv_CFGFMd4</param-value>
    </context-param>
    <context-param>
        <param-name>map.tileServer.hostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>map.tileServer.port</param-name>
        <param-value>9999</param-value>
    </context-param>


    <servlet>
        <servlet-name>red-dawn</servlet-name>
        <servlet-class>com.altamiracorp.reddawn.web.Router</servlet-class>
        <init-param>
            <param-name>env</param-name>
            <param-value>dev</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>red-dawn</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>