<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>red-dawn</servlet-name>
        <servlet-class>com.altamiracorp.reddawn.web.Router</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>red-dawn</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>