<div class="form">
  <select>
    <option>Loading...</option>
  </select>

  <input type="text"/>

  <div class="buttons">
    <button class="add-property btn btn-small btn-primary">Add Property</button>
  </div>
</div>
