<div class="chat-window" id="chat-window-<%= user.id %>" chat-id="<%= user.id %>">
    <div class="to"><%= users.map(function(user) { return user.id; }).join(', ') %></div>
    <div class="chat-messages">

    </div>
    <form class="new-message">
        <input class="message" placeholder="Message...">
    </form>
</div>
