<div class="chat-window" id="chat-window-<%= user.rowKey %>" chat-id="<%= user.rowKey %>">
    <div class="to"><%= users.map(function(user) { return user.rowKey; }).join(', ') %></div>

    <div class="chat-messages"></div>

    <form class="new-message">
        <input type="text" class="message" placeholder="Message...">
    </form>
</div>
