
<li class="nav-header">Workspaces</li>

<% results.forEach(function(workspace) { %>
  <% include workspaces/item %>
<% }); %>

<li class="new-workspace">
  <div class="input-append">
    <input class="new" name="title" type="text" placeholder="Workspace name" />
    <button class="new btn btn-mini">Add</button>
  </div>
</li>

