
<li class="nav-header">Workspaces</li>

<% results.forEach(function(result) { %>
<li class="<%= selected === result.rowKey ? 'active' : '' %>" 
    data-rowkey="<%= result.rowKey %>"
    ><a href="#"><%= result.title || result.rowKey %><button class="delete btn btn-mini btn-danger">Delete</button></a></li>
<% }); %>

<li>
    <input name="title" type="text" placeholder="Workspace name" size="20"/>
    <button class="new btn btn-mini">Add</button>
</li>

