
<li class="nav-header">Workspaces</li>

<% results.forEach(function(result) { %>
<li class="<%= selected === result._rowKey ? 'active' : '' %>" 
    data-_row-key="<%= result._rowKey %>"
    ><a href="#"><button class="delete btn btn-mini btn-danger">Delete</button><span><%= result.title || result._rowKey %></span></a></li>
<% }); %>

<li>
    <input class="new" name="title" type="text" placeholder="Workspace name" />
    <button class="new btn btn-mini">Add</button>
</li>

