<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <context-param>
        <param-name>AuthenticationProvider</param-name>
        <param-value>com.altamiracorp.lumify.demoaccountweb.security.SessionAuthenticationProvider</param-value>
    </context-param>
    <context-param>
        <param-name>UserRepository</param-name>
        <param-value>com.altamiracorp.lumify.demoaccountweb.security.UserRepository</param-value>
    </context-param>
    <context-param>
        <param-name>ModelSession</param-name>
        <param-value>com.altamiracorp.bigtable.model.accumulo.AccumuloSession</param-value>
    </context-param>

    <listener>
        <listener-class>com.altamiracorp.lumify.demoaccountweb.ApplicationBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>demo-account-web</servlet-name>
        <servlet-class>com.altamiracorp.lumify.demoaccountweb.Router</servlet-class>
        <init-param>
            <param-name>env</param-name>
            <param-value>dev</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo-account-web</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
