
<div class="btn-toolbar">
  <%- highlightButton %>
</div>

<h2><img class="entity-glyphIcon" src="<%= glyphIconHref %>" /><%= title %></h2>

<h3>Properties</h3>
<div class="entity-properties">Loading...</div>

<h3>Relationships</h3>
<div class="entity-relationships">Loading...</div>
