
<div class="btn-toolbar">
  <%- highlightButton %>
</div>

<h2><%= sign %></h2>

<h3>Mentions</h3>
<div class="entity-mentions">Loading...</div>

<h3>Relationships</h3>
<div class="entity-relationships">Loading...</div>
