
<div class="entity-background">
  <div class="entity-glyphIcon"/>

  <h1><%= title %></h1>

  <div class="btn-toolbar">
    <%- highlightButton %>

    <%- fullscreenButton %>
  </div>
</div>

<ul class="nav-with-background nav nav-list">
  <li class="nav-header properties">Properties<span class="badge loading"/></li>
  <li class="nav-header relationships">Relationships<span class="badge loading"/></li>
</ul>

