<ul>
<% properties.forEach(function(property) { %>
    <% if (property.key.charAt(0) != '_') {%>
    <li class="entity-property">
        <%= property.key %>
        <%= property.value %>
    </li>
    <% } %>
<% }); %>
</ul>