<% properties.forEach(function(property) { %>
    <li class="property">
      <strong><%= property.displayName %></strong><%= property.value %>
    </li>
<% }); %>

  <li class="buttons">
    <button class="add-new-properties btn btn-mini btn-default">Add Property</button>
  </li>

