<ul>
<% relationships.forEach(function(relationship) { %>
    <li class="entity-relationship">
        <%- relationship.sourceNode.properties.title || 'No Title' %>
        <%= relationship.relationship.label %>
        <%- relationship.destNode.properties.title || 'No title' %>
    </li>
<% }); %>
</ul>
