@import "util/constants";
@import "util/splitbar";
@import "util/positioning";
@import "util/flexbox";

@import "/libs/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  overflow: hidden;
}

#app {
  .fullscreen;
}


.above-graph(@extra:1) {
  z-index: @graph-zIndex + @extra;
}

.left-pane(@left-padding: 0) {
  // Imporant because resizable sets inline styles
  left: @pane-animation-distance * -1 !important;
  .transition(~"left ease-in-out 0.2s, visibility 0.2s");

  &.visible {
    // Imporant because resizable sets inline styles
    left: @menubar-width + @left-padding !important;
  }
}
.right-pane {
  .fullscreen;
  left: auto !important;
  width: 4px;

  &.visible {
    width: 25%;
    max-width: 500px;
  }

  &.collapsed {
    width: 4px !important;
    .transition(width 0.2s ease-in-out);
  }
}

.users-pane, 
.search-pane, 
.detail-pane {
  .above-graph;
  position: absolute;

  // Animation of panes
  visibility: hidden;
  &.visible { visibility: visible; }

  .content {
    overflow: auto;
    height: 100%;
    .box-sizing(border-box);
  }
}

.search-pane, 
.detail-pane {
  height: 100%;

  .ui-resizable-handle {
    .splitbar;
  }
}

.graph-pane, .map-pane {
  display: none;
  
  &.visible {
    display: block;
  }
}


.menubar-pane {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: @menubar-width;
  .above-graph(10);

  @import "menubar/menubar";
}

.search-pane {
  .left-pane;

  @import "search/search";
}

.users-pane {
  @padding: 10px;
  .above-graph(2);
  .left-pane(@padding);

  bottom: @padding;
  height: 200px;

  @import "users/users";
}

@import "graph/plugins";
.graph-pane { 
  .fullscreen;
  left: @menubar-width;

  @import "graph/graph";
}

.map-pane {
  .fullscreen;
  left: @menubar-width;

  @import "map/map";
}

.detail-pane { 
  .right-pane;
  visibility: visible;
  right: 0;

  @import "detail/detail";
}

.mode-select-pane {
    padding-left: 300px;
}
