<div class="form">
  <select>
    <option>Loading...</option>
  </select>
  <input
    data-provide="typeahead"
    autocomplete="off"
    placeholder="Associate with Object..."
    class="entity-sign"
    type="text"
    value="<%= entitySign %>"></input>

  <div class="buttons">
    <button class="resolve btn btn-small btn-primary"><%= buttonText %></button>
  </div>
</div>
