<div class="multiple">
  <h1><%= nodes.length %> objects selected</h1>

  <ul>
    <% nodes.forEach(function(node) { %>
    <li><%= node.originalTitle || node.title %></li>
    <% }); %>
  </ul>
</div>
