
width: 300px;
background: #efefef;

.content {
  padding: 1em;
}

.content .entity {
  background-color: #ff0000;
}

.content .entity.date,
.content .entity.time {
  background-color: #00ff00;
}

.content .entity.location {
  background-color: #0000ff;
}

.content .entity.money {
  background-color: #00ffff;
}

.content .entity.organization {
  background-color: #ffff00;
}

.content .entity.percentage {
  background-color: #ff00ff;
}

.content .entity.person {
  background-color: #55ff55;
}
