@import "../util/lists.less";
@import "../util/constants.less";
@import "../util/selection.less";
@import "highlighting";

.content {

  padding: 2.5em 1em 0 1em;

  .preview {
    height: 300px;
    cursor: pointer;
  }

  .underneath {
    @import "dropdown";
  }

  .btn-toolbar {
    position: absolute;
    top: 0;
    white-space: nowrap;

    .checked a {
      background-image: url(../../img/glyphicons/glyphicons_206_ok_2@2x.png);
      background-repeat: no-repeat;
      background-position: 5px center;
      background-size: 10px;
    }

    li.checked:hover a {
      background-image: url(../../img/glyphicons/white/glyphicons_206_ok_2@2x.png);
    }
  }

  .text {
    word-wrap: break-word;
  }

  .multiple {
    h1 {
      font-size: 100%;
      text-align: center;
      font-style: italic;
      margin-top: 0;
      color: #555;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 1em 0;
      }
    }
  }

  .highlighting;
}

