<div class="sync-request-confirm well well-small">
	<%= initiator %> is requesting to synchronize with you
  <div class="btn-group">
    <a href="#" class="btn-sync-reject btn btn-small btn-danger">Reject</a>
    <a href="#" class="btn-sync-accept btn btn-small btn-success">Accept</a>
  </div>
</div>
