
<select class="predicate">
  <option value="<">is less then</option>
  <option value=">">is greater then</option>
  <option value="range">is between</option>
  <option value="equal">is</option>
</select>

<input placeholder="$" type="text"/>
<input placeholder="$" class="range-only" type="text"/>
