<table cellpadding="0">
  <tr class="input-prepend">

    <td class="predicate-row">
      <span class="add-on">
        <select class="predicate">
          <option value="<">is before</option>
          <option value=">">is after</option>
          <option value="range">is between</option>
          <option value="equal">is</option>
        </select>
      </span>
    </td>

    <td class="input-row">
      <input placeholder="YYYY-MM-DD" type="text"></input>
      <input placeholder="YYYY-MM-DD" class="range-only" type="text"></input>
    </td>
  </tr>
</table>

