
<select class="predicate">
  <option value="<">is before</option>
  <option value=">">is after</option>
  <option value="range">is between</option>
  <option value="equal">is</option>
</select>

<input placeholder="YYYY-MM-DD" type="text"/>
<input placeholder="YYYY-MM-DD" class="range-only" type="text"/>
