<table cellpadding="0">
  <tr class="input-prepend">
    <td class="predicate-row">
      <span class="add-on">Contains</span>
    </td>

    <td class="input-row">
      <input placeholder="<%= property.displayName %>" type="text"/>
    </td>
  </tr>
</table>
