<div class="term-form">
  <span class="sign"><%= text %></span>
  <select>
    <option>Loading...</option>
  </select>

  <div class="buttons">
    <button class="create-term btn btn-small btn-primary">Create Term</button>
  </div>
</div>
