<div>
  <span class="sign"><%= text %></span>
  <select>
    <option>Select concept...</option>
    <% entityTypes.forEach(function(entityType) { %>
    <option value="<%= entityType %>"><%= entityType %></option>
    <% }); %>
  </select>

  <div class="buttons">
    <button class="create-term btn btn-small btn-primary">Create Term</button>
  </div>
</div>
