<div class="empty-graph"></div>
<div class="cytoscape-container" tabindex="1"></div>

<div>
<ul class="graph-context-menu dropdown-menu" role="menu">
  <!--
  <li><a tabindex="-1" href="#">Undo</a></li>
  <li><a tabindex="-1" href="#">Redo</a></li>
  <li class="divider"></li>
  -->
  <li><a data-func="fitToWindow" tabindex="-1" href="#">Fit to Window</a></li>
  <li class="divider"></li>
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">Layout</a>
    <ul class="dropdown-menu">
      <li><a data-func="layout" data-args='["circle"]' tabindex="-1" href="#">Circle</a></li>
      <li><a data-func="layout" data-args='["grid"]' tabindex="-1" href="#">Grid</a></li>
      <li><a data-func="layout" data-args='["random"]' tabindex="-1" href="#">Random</a></li>
      <li><a data-func="layout" data-args='["breadthfirst"]' tabindex="-1" href="#">Hierarchical</a></li>
      <li><a data-func="layout" data-args='["arbor"]' tabindex="-1" href="#">Force Directed</a></li>
    </ul>
    <li class="divider"></li>
    <li><a data-func="zoom" data-args="[2]" tabindex="-1" href="#">Zoom 2x</a></li>
    <li><a data-func="zoom" data-args="[1]" tabindex="-1" href="#">Zoom 1x</a></li>
    <li><a data-func="zoom" data-args="[0.5]" tabindex="-1" href="#">Zoom &#189;x</a></li>
  </li>
</ul>
</div>

<div>
<ul class="node-context-menu dropdown-menu" role="menu">
  <li><a tabindex="-1" href="#">Open</a></li>
  <li><a tabindex="-1" href="#">Open in New Tab</a></li>
  <li><a tabindex="-1" href="#">Load Related Items</a></li>
  <li class="divider"></li>
  <li><a tabindex="-1" href="#">Delete</a></li>
</ul>
</div>
