@import "../util/badge-loading.less";

width: 200px;

button.new {
}

li {

  input {
    width: 100%;
    .box-sizing(border-box);
    padding: 0.1em 0.5em;
    margin-top: 1em;
    height: 2em;
  }

  button {
    float: right;
    .opacity(10);
  }

  &:hover {
    button {
      .opacity(100);
    }
  }

  .badge {
    float:right;
  }
}
