<ul class="nav nav-list permissions-list">
  <li><label><input type="radio" value="0" name="permission"/>View</label></li>
  <li><label><input type="radio" value="1" name="permission" checked/>Edit</label></li>
  <li class="divider"> </li>

  <li><button class="remove-access btn btn-danger">Revoke access</button></li>
</ul>
