<ul>
  <li><label><input type="radio" value="0" name="permission"/>View</label></li>
  <li><label><input type="radio" value="1" name="permission" checked/>Edit</label></li>
  <li class="divider"/>
  <li><button class="remove-access btn btn-danger">Remove access</button></li>
</ul>
