<option value=''>Choose a concept...</option>
<% concepts.children.forEach(function(concept) { %>
<option 
  <% if (concept.title === selectedConceptLabel) { %>selected<% } %>
  value="<%= concept.id %>"><%= concept.title %></option>
<% }); %>
